@font-face {
  font-family: "iconfont"; /* Project id 1058619 */
  src: url('iconfont.woff2?t=1627958277466') format('woff2'),
       url('iconfont.woff?t=1627958277466') format('woff'),
       url('iconfont.ttf?t=1627958277466') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-setting:before {
  content: "\e660";
}

.icon-lingdang:before {
  content: "\e636";
}

.icon-xiasanjiao:before {
  content: "\e640";
}

.icon-shangsanjiao:before {
  content: "\e760";
}

.icon-shang:before {
  content: "\e623";
}

.icon-shang1:before {
  content: "\e634";
}

.icon-file-edit:before {
  content: "\e68a";
}

.icon-Function:before {
  content: "\e90e";
}

.icon-line-inputmethodshurufa:before {
  content: "\e6e6";
}

.icon-class:before {
  content: "\e621";
}

.icon-go:before {
  content: "\e62d";
}

.icon-java:before {
  content: "\e63e";
}

.icon-py:before {
  content: "\e655";
}

.icon-markdown:before {
  content: "\e665";
}

.icon-function:before {
  content: "\e672";
}

.icon-cyuyan:before {
  content: "\e622";
}

.icon-less:before {
  content: "\e688";
}

.icon-ts:before {
  content: "\e664";
}

.icon-minus-square:before {
  content: "\e70b";
}

.icon-Plus:before {
  content: "\e662";
}

.icon-wenjianjia:before {
  content: "\e78c";
}

.icon-folder-open:before {
  content: "\eba4";
}

.icon-js:before {
  content: "\e63c";
}

.icon-php:before {
  content: "\e66c";
}

.icon-Sass:before {
  content: "\e6d0";
}

.icon-Vue:before {
  content: "\e79a";
}

.icon-React:before {
  content: "\e79b";
}

.icon-vimeo:before {
  content: "\ea05";
}

.icon-css:before {
  content: "\e620";
}

.icon-mdx:before {
  content: "\e667";
}

.icon-qr-code:before {
  content: "\e68d";
}

.icon-video:before {
  content: "\e691";
}

.icon-coupon:before {
  content: "\e66a";
}

.icon-dictionary:before {
  content: "\e618";
}

.icon-news:before {
  content: "\e63d";
}

.icon-iov-eye:before {
  content: "\e617";
}

.icon-iov-required:before {
  content: "\e649";
}

.icon-tianqi-xianxing2-0:before {
  content: "\e677";
}

.icon-server:before {
  content: "\e615";
}

.icon-channel:before {
  content: "\e616";
}

.icon-iov-location:before {
  content: "\e630";
}

.icon-iov-play-small:before {
  content: "\e654";
}

.icon-icon_board:before {
  content: "\e61e";
}

.icon-icon_uers:before {
  content: "\e61f";
}

.icon-bussiness-man:before {
  content: "\e6ef";
}

.icon-ellipsis:before {
  content: "\e74f";
}

.icon-map:before {
  content: "\e758";
}

.icon-viewlarger:before {
  content: "\e78f";
}

.icon-daichuli:before {
  content: "\e601";
}

.icon-qiye:before {
  content: "\e612";
}

.icon-chuizhidaohang:before {
  content: "\e603";
}

.icon-icon-user:before {
  content: "\e604";
}

.icon-icon-zoom:before {
  content: "\e605";
}

.icon-icon-search:before {
  content: "\e609";
}

.icon-daohangshuipingshezhi:before {
  content: "\e610";
}

.icon-icon-plane:before {
  content: "\e611";
}

.icon-ziliao:before {
  content: "\f3ff";
}

.icon-xiazai:before {
  content: "\f400";
}

.icon-shangchuan:before {
  content: "\f401";
}

.icon-guanbi1:before {
  content: "\f402";
}

.icon-faxian:before {
  content: "\f403";
}

.icon-anquan:before {
  content: "\f404";
}

.icon-yuyin:before {
  content: "\f405";
}

.icon-weizhi1:before {
  content: "\f406";
}

.icon-tongzhi:before {
  content: "\f407";
}

.icon-17:before {
  content: "\e63b";
}

.icon-liuyan:before {
  content: "\e65f";
}

.icon-weixin:before {
  content: "\e628";
}

.icon-xitong:before {
  content: "\e67c";
}

.icon-rili:before {
  content: "\e74b";
}

.icon-fenghuangxiangmutubiao_yinpinbofang:before {
  content: "\e66f";
}

.icon-zhuxiaoguanji:before {
  content: "\e8d8";
}

.icon-shut-down:before {
  content: "\e6a0";
}

.icon-guanbi:before {
  content: "\e641";
}

.icon-weibiaoti2:before {
  content: "\e63f";
}

.icon-settings:before {
  content: "\e632";
}

.icon-shezhi:before {
  content: "\e633";
}

.icon-tianjia:before {
  content: "\e81b";
}

.icon-iconless1:before {
  content: "\e63a";
}

.icon-zhengque:before {
  content: "\e635";
}

.icon-reduce_icon:before {
  content: "\e661";
}

.icon-tianjia1:before {
  content: "\e686";
}

.icon-you:before {
  content: "\e60f";
}

.icon-yingyuana:before {
  content: "\e61d";
}

.icon-lanya:before {
  content: "\e639";
}

.icon-Wifi:before {
  content: "\e60b";
}

.icon-wenjian1:before {
  content: "\e68f";
}

.icon-dakaiwenjian:before {
  content: "\e608";
}

.icon-weizhi:before {
  content: "\e62e";
}

.icon-music:before {
  content: "\e619";
}

.icon-78lvxing:before {
  content: "\e653";
}

.icon-ai-rew-right:before {
  content: "\e65e";
}

.icon-music1:before {
  content: "\e799";
}

.icon-music2:before {
  content: "\e61a";
}

.icon-wenjian:before {
  content: "\e638";
}

.icon-tuichufffpx:before {
  content: "\e60c";
}

.icon-tuichu:before {
  content: "\e60d";
}

.icon-MusicAcc:before {
  content: "\e73a";
}

.icon-lvhang:before {
  content: "\e62b";
}

.icon-music3:before {
  content: "\e60e";
}

.icon-xiaolianmanyifuwu:before {
  content: "\e7a9";
}

.icon-tubiaozhizuomoban:before {
  content: "\e602";
}

.icon-clear:before {
  content: "\e710";
}

.icon-tubiaozhizuo-:before {
  content: "\e607";
}

.icon-xiasanjiaoxing:before {
  content: "\e642";
}

.icon-photogallery:before {
  content: "\e70d";
}

.icon-search:before {
  content: "\e873";
}

.icon-me:before {
  content: "\e657";
}

.icon-moviesel:before {
  content: "\e61c";
}

.icon-reload:before {
  content: "\e600";
}

.icon-play:before {
  content: "\e66e";
}

.icon-quanping:before {
  content: "\e629";
}

.icon-Video:before {
  content: "\e61b";
}

.icon-StopFilled:before {
  content: "\e666";
}

.icon-volume_off:before {
  content: "\e750";
}

.icon-volume:before {
  content: "\e740";
}

.icon-gouwuche1:before {
  content: "\e613";
}

.icon-fangxiang-xiangxia:before {
  content: "\e614";
}

.icon-mall:before {
  content: "\e606";
}

.icon-laganxiang:before {
  content: "\e60a";
}

.icon-cart:before {
  content: "\e62f";
}

.icon-gouwuche:before {
  content: "\e708";
}

.icon-sousuo:before {
  content: "\e70a";
}

